<h1>Word Changer</h1>

    <form action='/results' method='get'>
      <div class="form-group">
        <label for="sentence">Enter a sentence to be changed:</label>
        <input id="sentence" name="sentence" class="form-control" type="text">
      </div>

      <button type="submit" class="btn btn-info">Submit</button>

    </form>
